body {
    color: #000000;
    background-color: rgb(169, 239, 237);
}
.tag {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
   }  
.jumbotron {
    background-image: url("../images/navel_bacteria.jpeg");
    background-size: 100% 100%;
    text-align: center;
}
